@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

body{
    background: url("../images/sky.jpg") no-repeat center fixed;
    background-size: cover;
    color: white;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 20px 80px;
    
}

#logo{
    height: fit-content;
    width: auto;
    display: flex;
    align-items: center;
}

#redirection{
    position: absolute;
    width: 205px;
    height: 40px;
}

#logo:hover{
    cursor: pointer;
}

#logo label{
    margin-left: 20px;
    font-size: 23px;
    font-weight: 800;
}


#logo img{
    height : 40px;
    width: auto;
}

.toggle{
    display: none;
}

.ouvrir, .ouvrir img{
    height: 30px;
    width: 30px;
}
.fermer, .fermer img{
    height: 28px;
    width: 28px;
}

#navbar{
    display: flex;
    gap: 1em;
}

ul{
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

.navlink{
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-weight: 700;
}
.navlink:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(200%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: rgba(255,255,255,0.8);
        transition: transform 250ms;
}
      
.navlink:hover:after {
    transform: translateX(-50%) translateY(200%) scaleX(1);
}

li{
    float: left;
    margin-right : 70px;
}

#btnav{
    height: 40px;
    padding : 0px 10px;
    color: rgba(255,255,255,1);
    width: fit-content;
    border: 2px solid red;
    background-color: transparent;
    font-size: 20px;
    font-weight:800;
    transition: 0.5s;
}

#btnav:hover{
    cursor: pointer;
}


#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(77, 0, 0);
    height: 50px;
    bottom: 0;
    position: fixed;
}

#footer h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-weight: 400;
    font-size: 15px;
}

.tvlogo{
    height: 30px;
    width: auto;
    float: left;
}

#com{
    display: flex;
    align-items: center;
    height: max-content;
}
    
@media all and (max-width: 1024px) {

    #logo{
        z-index: 2;
    }

    .open #logo, .open .toggle{
        padding: 20px 0px;
    }


    .toggle{
        display: flex;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .ouvrir{
        display: flex;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer{
        display: flex;
    }

    .open #footer{
        display: none;
    }

    .open header{
        height: 100vh;
        align-items: baseline;
    }


    #navbar{
        position: absolute;
        top:0;
        left: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: black;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0s;
    }

    .open #navbar{
        transform: translateX(0);
    }

    #navbar ul{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        padding: 0;
    }

    #navbar li{
        align-self: center;
        margin: 0;
    }

}


@media only screen and (max-width: 500px) {
    #footer{
        display: none;
    }
    #nom{
        display: none;
    }

    header{
        padding: 20px 30px;
    }

}


#hero{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Kanit', sans-serif;
}

#left{
    color: black;
    width: 500px;
    height: 500px;
    background-color: rgb(250, 250, 250);
    border-radius: 3%;
    overflow: hidden;
}

#imagedonation img{
    width: 100%;
    height: 80%;
}

#textdonation{
    padding: 30px;
}
#textdonation h2{
    margin: 0;
    font-weight: 500;
}
#textdonation p{
    font-weight: 400;
}



#right{
    width: 250px;
    height: 460px;
    background-color: rgb(235, 235, 235);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px 40px;
    justify-content: space-around;
}

#right h1{
    margin: 0;
    text-align: center;
}

#preshot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.item-prix{
    width: 80px;
    height: 40px;
    background-color: #efefef;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                2px 2px 8px rgba(0,0,0,0.15);

}
.item-prix label{
    cursor: pointer;
}
.item-prix:hover{
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
    inset 2px 2px 8px rgba(0,0,0,0.15);
}

.itemprixclick{
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
    inset 2px 2px 8px rgba(0,0,0,0.15);
}


#donation {
    margin-top: 20px;
}

#donation p{
    font-size: 15px;
}

#don{
    padding: 0;
    width: calc(100% - 20px);
    height: 40px;
    border: none;
    background-color:  rgb(247, 247, 247);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
    padding-left: 20px;
}

#dons{
    display: flex;
    align-items: center;
    justify-content: end;
}
#dons label{
    position: absolute;
    padding-right: 10px;
}



#btncheck{
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    box-shadow: -3px -3px 5px rgba(255,255,255,0.5), 
    3px 3px 5px rgba(70,70,70,0.12);
    border-radius: 50%;
    background-color: #ececec;
    border: 0.8px solid #ececec;
    outline: none;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin-right: 10px;
}

#btncheck:checked{
    box-shadow: -3px -3px 5px rgba(255,255,255,0.5), 
    3px 3px 5px rgba(70,70,70,0.12),
    inset -3px -3px 5px rgba(255,255,255,0.5), 
    inset 3px 3px 5px rgba(70,70,70,0.12);
}

#btnabo{
    display: flex;
    justify-content: center;
}

.abo-type{
    width: 50%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(247, 247, 247);
    cursor: pointer;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
    -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
    2px 2px 8px rgba(0,0,0,0.15);
}
.abo-type:nth-child(1){
    box-shadow: -10px 0px 10px 3px rgba(0,0,0,0.05);
}
.abo-type:nth-child(2){
    box-shadow: 10px 0px 15px 3px rgba(0,0,0,0.05);
}
.abo-type label{
    cursor: pointer;
}

#check{
    display: flex;
    margin-bottom: 10px;
}


#boutton{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#boutton button{
    width: 100%;
    height: 40px;
    background-color: rgb(235, 61, 61);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}