@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


body{

    background: url("../images/sky.jpg") no-repeat center fixed;
    background-size: cover;
    color: white;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 20px 80px;
}

#logo{
    height: fit-content;
    width: auto;
    display: flex;
    align-items: center;
}

#redirection{
    position: absolute;
    width: 205px;
    height: 40px;
}

#logo:hover{
    cursor: pointer;
}

#logo label{
    margin-left: 20px;
    font-size: 23px;
    font-weight: 800;
}


#logo img{
    height : 40px;
    width: auto;
}

.toggle{
    display: none;
}

.ouvrir, .ouvrir img{
    height: 30px;
    width: 30px;
}
.fermer, .fermer img{
    height: 28px;
    width: 28px;
}

#navbar{
    display: flex;
    gap: 1em;
}

ul{
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

.navlink{
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-weight: 700;
}
.navlink:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(200%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: rgba(255,255,255,0.8);
        transition: transform 250ms;
}
      
.navlink:hover:after {
    transform: translateX(-50%) translateY(200%) scaleX(1);
}

li{
    float: left;
    margin-right : 70px;
}

#btnav{
    height: 40px;
    padding : 0px 10px;
    color: rgba(255,255,255,1);
    width: fit-content;
    border: 2px solid red;
    background-color: transparent;
    font-size: 20px;
    font-weight:800;
    transition: 0.5s;
}

#btnav:hover{
    cursor: pointer;
}

#hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 80px;
}

#left{
    display: flex;
    flex-direction: column;
    gap : 1em;
}
#titre{
    font-size: 60px;
    font-weight: 900;
    opacity: 0;
    animation : apparition 1.2s ease-in-out 0.2s forwards,up 1.2s ease-in-out 0.2s forwards ;
    font-family: 'Roboto', sans-serif;
  
}
#soustitre{
    font-size: 17px;
    font-weight: 400;
    opacity: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    animation: apparition 1.2s ease-in-out 0.2s forwards;

}

#herobtn{
    width: fit-content;
    height: auto;
    font-size: 22px;
    color: rgba(255,255,255,1);
    background-color: rgb(216, 0, 0);
    padding: 10px 25px;
    text-shadow: black 2em 1em 2em;
    font-weight: 700;
    opacity: 0;
    animation: apparition 1.3s ease-in-out 0.4s forwards;
    transition: 1s;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
    border: none;
}

#herobtn:hover{
    cursor: pointer;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: end;

}

#deathstar{
  
    width: 250px;
    height: 250px;
    background-image: url("../images/deathStar.png");
    background-size: contain;
    opacity: 0;
    animation: apparition_star 1s ease-in-out 1s forwards, loopop 20s infinite ease-in-out 3s forwards ;
  
}

#xwing{
    position: absolute;
    width: calc(35vw - 50px);
    height: calc(24vw - 50px); 
    background-image: url("../images/a.png");
    background-size: cover;
    opacity: 0; 
    transform: translateX(calc(4vw - 100px))  translateY(50px);
    animation: apparition_xwing 1.5s ease-in-out 1.2s forwards, levitation 4s infinite ease-in-out 2.3s forwards  ;
    z-index: 1;
  
}

#xwingblur{
    position: absolute;
    width: calc(32vw - 50px);
    height: calc(18vw - 50px);  
    background-image: url("../images/a.png");
    background-size: cover;
    opacity: 0; 
    transform: translateX(calc(4vw - 100px))  translateY(55px);
    animation: apparition_xwing 1.5s ease-in-out 1.2s forwards, levitationblur 4s infinite ease-in-out 2.3s forwards  ;
    filter: blur(2px);
    z-index: 0;
  
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(77, 0, 0);
    height: 50px;
    bottom: 0;
    position: fixed;
}

#footer h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-weight: 400;
    font-size: 15px;
}

.tvlogo{
    height: 30px;
    width: auto;
    float: left;
}

#com{
    display: flex;
    align-items: center;
    height: max-content;
}

.bulle{
    position: relative;
    opacity: 0;
    height: 40px;
    width: 40px;
    float: left;
    border: 0px red solid;
    border-radius: 100%;
    box-shadow: -5px 0px 10px -2px black;
}

.bulle:nth-child(1){
    animation: apparition 1s ease-in 2.3s forwards;
}

.bulle:nth-child(2){
    animation: apparition 1s ease-in 2.5s forwards;
    left: -10px;
}
.bulle:nth-child(3){
    animation: apparition 1s ease-in 2.7s forwards;
    left: -20px;
}

#msgbulle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    opacity: 0;
    font-weight: 400;
    margin: 0;
    animation: bullemsganim 1.5s ease-out 3.5s forwards;
}



@keyframes apparition_xwing{from{opacity:0}
to{opacity:0.9}
}
@keyframes apparition_star{from{opacity:0}
to{opacity:0.6}
}
@keyframes apparition{from{opacity:0}
to{opacity:1}
}
@keyframes up{from{transform : translateY(60px)}
to{transform : translateY(0px)}}

@keyframes levitation{
    0%{
        transform: translateX(calc(4vw - 100px)) translateY(50px);
    }
    50%{
        transform: translateX(calc(4vw - 100px)) translateY(53px);
    }
    100%{
        transform: translateX(calc(4vw - 100px)) translateY(50px);

    }
}
@keyframes levitationblur{
    0%{
        transform: translateX(calc(4vw - 100px))  translateY(55px);
    }
    50%{
        transform: translateX(calc(4vw - 100px))  translateY(58px);
    }
    100%{
        transform: translateX(calc(4vw - 100px))  translateY(55px);

    }
}
@keyframes loopop {
    0%{
        opacity: 0.6;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.6;
    }
}
@keyframes bullemsganim {from{transform : translateX(-20px); opacity: 0;}
to{transform : translateX(0px) ; opacity: 1;}}
    
@media all and (max-width: 1024px) {

    #logo{
        z-index: 2;
    }

    .open #logo, .open .toggle{
        padding: 20px 0px;
    }


    .toggle{
        display: flex;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .ouvrir{
        display: flex;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer{
        display: flex;
    }

    .open #footer{
        display: none;
    }

    .open header{
        height: 100vh;
        align-items: baseline;
    }


    #navbar{
        position: absolute;
        top:0;
        left: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: black;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0s;
    }

    .open #navbar{
        transform: translateX(0);
    }

    #navbar ul{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        padding: 100px 0px;
    }

    #navbar li{
        align-self: center;
        margin: 0;
    }


    #right{
        display: none;
    }
    #hero{
        grid-template-columns: repeat(1, 1fr); 
    }


}


@media only screen and (max-width: 500px) {
    #footer{
        display: none;
    }
    #nom{
        display: none;
    }

    header{
        padding: 20px 30px;
    }

    #hero{
        padding: 40px 30px;
    }

    #titre{
        font-size: 45px;
    }

    #soustitre{
        font-size: 17px;
    }

    #herobtn{
        font-size: 22px;
        width: 100%;
    }

    #msgbulle{
        font-size: 15px;
    }

    #left{
        gap: 2em;
    }

}